*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
}
body{
	min-width: 320px;
	height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.div1{
	width: 100%;
	height: 30%;
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3vmax;
	font-weight: 500;
}
.div2{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	/* background-color: pink; */
}
.icons{
	width: 100%;
	height: 70%;
	display: flex;
	justify-content: center;
	/* background-color: skyblue; */
}
.icn{
	width: 350px;
	height: 100%;
	background-color: white;
	margin: 0 30px;
}
.icn i{
	font-size: 32px;
	margin-bottom: 25px;
}
.icn h2{
	width: 100%;
	font-size: 22px;
	height: fit-content;
	text-align: center;
}
.icn p{
	padding-top: 40px;
	height: fit-content;
	text-align: center;
	width: 80%;
	margin: auto;
	font-size: 1.3vmax;
}
a{
	text-decoration: none;
	color: white;
}
.btn{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.cont_btn{
	width: fit-content;
	height: fit-content;
	padding: 1% 37.5px;
	background-color: #2246C3;
	border-radius: 50px;
	color: white;
	font-size: 1.5vmax;
}
@media screen {

}